*{
    margin: 0;
    padding: 0;
}
                                             /* Top menu and nav start */
.top_menu{
    margin: 0;
    padding: 0;
    padding: 5px 0px;
    background-color: #000C20;
    border-bottom: 1px solid #5c5c5e;
}
.top_menu p{
    color: #919192;
}
.top_icon{
    display: flex;
    justify-content: space-between;
    height: 5vh;
    align-items: center;
}
.top_icon i{
    color: #919192;
    cursor: pointer;
    font-size: 17px;
}
.top_icon i:hover{
    color: #E0581E;
}
                                     /* Top menu end */

                                      /*nav start */
nav{
    background-color: #000C20;

}
.navbar-nav .nav-item .nav-link{
    color: #fff;
    margin-right: 20px;
    padding: 30px 0px;
}
.navbar-nav .nav-item .nav-link:hover{
    color: #E0581E;
}
.navbar-nav .nav-item .nav-link:focus{
    color: #E0581E;
}
.dropdown-menu{
    background-color: #000C20;
    border-top: 2px solid #E0581E;
}
.dropdown-menu .dropdown-item{
    color: #fff;
    transition: .4s all ease-in-out;
}
.dropdown-menu .dropdown-item:hover{
    background: transparent;
    color: #E0581E;
    transform: translateX(5px);
}
.nav_btn{
    margin: 0;
    padding: 0;
    background-color: #E0581E;
    color: white !important;
    padding: 10px 25px;
}
.nav_btn:focus{
    box-shadow: none !important;
}
.nav_btn:hover{
    background-color: #b33b08;
}

                                        /* Top menu and nav end */

                                        /* Banner part start */

.banner{
   background-image: url("../image/banner.jpg");
   background-position: center;
   background-size: cover;
   background-repeat: no-repeat;
}
.banner_row{
    min-height: 100vh;
}
.banner_content h1{
    color: white;
    font-size: 45px;
    font-weight: 900;
}
.banner_content h1 span{
    color: #E0581E;
}
.banner_content form input:focus{
   box-shadow: none !important;
}
.banner_content button{
    margin-left: 5px;
    color: white !important;
    background-color: #E0581E;
}
.banner_content button:hover{
   background-color: #b33b08;
}
                                            /* Banner part start */

                                            /* Contact part start */
.contact{
    background-color: #F9F9F9;
    padding: 30px 0px;
}
.contact_content i{
    font-size: 50px;
    color: #E0581E;
    margin-right: 20px;
}
.contact_text ul{
    margin: 0;
    padding: 0;
}
.contact_text ul li{
    list-style-type: none;
    letter-spacing: 1px;
}
.contact_text ul li:nth-child(2){
    font-weight: 800;
}
                                        /* Contact part start */

                                        /* Service part Start */
.main_content{
    position: relative;
    z-index: 0;
    border-radius: 10px;
    overflow: hidden;
    cursor: pointer;
}
.service_main h6{
    color: #FF5F13;
    font-weight: 700;
}
.service_main h2{
    color: #0b2b61;
    font-weight: 700;
    font-size: 45px;
}
.service_main .icon{
    padding-top: 80px;
    font-size: 50px;
    text-align: center;
    color: #E0581E;
}
.service_main .service_content h1{
    margin-top: 40px;
    margin-bottom: 20px;
    font-weight: 700;
    color: #0b2b61;
}
.service_main .service_content p{
    margin-bottom: 80px;
    color: #0b2b61;
}

.main_content::before{
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 0;
    background-color: #FF5F13;
    transition: .5s all ease-in-out;
    z-index: -1;
}
.main_content:hover::before{
    height: 100%;
}
.main_content:hover .service_content h1{
    color: white;
}
.main_content:hover .service_content p{
    color: white;
}
.main_content:hover .icon{
    color: white;
}

            /* About 2 start */

.about_2{
    margin-top: 150px;
    margin-bottom: 50px;
}
.about_2 h5{
   color: #F15F22;
}
.about_2 h1{
    color: #2C234D;
    font-weight: 800;
}
.about_2 p{
    margin: 50px 0px;
    color: #919192;
}
.about_2 button{
    margin: 0;
    padding: 0;
    background-color: #FF5F13;
    color: white;
    padding: 15px 40px;
}
.about_2 button:hover{
    color: #fff;
    background-color: #b33b08;
}
.about_2 img{
    margin-left: 90px;
}


.form{
    background-image: url("../image/section_bg02.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.main_form{
    margin: 80px 0px 80px 0px;
    background-color:#F5F5F5;
    padding: 90px;
    border-radius: 10px;
}
.main_form h4{
    color: #E0581E;
}
.main_form h2{
    color: #0b2b61;
    font-size: 35px;
    font-weight: 700;
}
.main_form p{
    color: #2C234D;
    font-size: 16px;
}
.main_form form input[type="submit"]{
    background-color: #fc4c01;
    color: white;
}
.main_form form input[type="email"], .main_form form input[type="text"]{
   box-shadow: none !important;
}